In [1]:
import pandas as pd

### Reading the table from the link provided and creating a dataframe

In [8]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
data = pd.read_html(url, header=0)
df = data[0]
df.head()

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

### Removing the rows that contain 'Not assigned' in the 'Borough' column

In [9]:
df = df.drop(df.index[df['Borough'] == 'Not assigned'])
# resetting the index values
df.reset_index(drop=True, inplace = True)
df.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

### Grouping same postcodes into one line and reindexing

In [12]:
df = df.groupby(["Postcode", 'Borough'])['Neighborhood'].apply(lambda tags: ', '.join(tags)).to_frame().reset_index()

In [27]:
df.head(30)

   Postcode      Borough                                       Neighborhood
0       M1B  Scarborough                                     Rouge, Malvern
1       M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2       M1E  Scarborough                  Guildwood, Morningside, West Hill
3       M1G  Scarborough                                             Woburn
4       M1H  Scarborough                                          Cedarbrae
5       M1J  Scarborough                                Scarborough Village
6       M1K  Scarborough        East Birchmount Park, Ionview, Kennedy Park
7       M1L  Scarborough                    Clairlea, Golden Mile, Oakridge
8       M1M  Scarborough    Cliffcrest, Cliffside, Scarborough Village West
9       M1N  Scarborough                        Birch Cliff, Cliffside West
10      M1P  Scarborough  Dorset Park, Scarborough Town Centre, Wexford ...
11      M1R  Scarborough                                  Maryvale, Wexford
12      M1S  Scarborough                                          Agincourt
13      M1T  Scarborough            Clarks Corners, Sullivan, Tam O'Shanter
14      M1V  Scarborough  Agincourt North, L'Amoreaux East, Milliken, St...
15      M1W  Scarborough                                    L'Amoreaux West
16      M1X  Scarborough                                        Upper Rouge
17      M2H   North York                                  Hillcrest Village
18      M2J   North York                       Fairview, Henry Farm, Oriole
19      M2K   North York                                    Bayview Village
20      M2L   North York                           Silver Hills, York Mills
21      M2M   North York                            Newtonbrook, Willowdale
22      M2N   North York                                   Willowdale South
23      M2P   North York                                    York Mills West
24      M2R   North York                                    Willowdale West
25      M3A   North York                                          Parkwoods
26      M3B   North York                                    Don Mills North
27      M3C   North York                   Flemingdon Park, Don Mills South
28      M3H   North York    Bathurst Manor, Downsview North, Wilson Heights
29      M3J   North York                    Northwood Park, York University

In [26]:
df.shape

(103, 3)

In [25]:
print('There are ' + str(df.shape[0]) + ' rows.')

There are 103 rows.